<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Noah Schwartz's Blog</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h1>Welcome to Noah Schwartz's Blog Site!</h1>
  <h2>Create a New Post Here!</h2>
  <form action="/" method="POST">
    <input type="hidden" name="user_id" value="<%= loggedInUserId %>">
    <div>
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" required>
    </div>
    <div>
      <label for="author">Author:</label>
      <input type="text" name="author" id="author"  value="<%= userName %>" readonly>
    </div>
    <div>
      <label for="body">Content:</label>
      <textarea name="body" id="body" required></textarea>
    </div>
    <button type="submit">Create Post</button>
  </form>

  <h2>Blog Posts</h2>
  <ul>
    <% posts.forEach(post => { %>
      <li class="post">
        <h3>
          <%= post.title %>
        </h3>
        <p>
          <%= post.body %>
        </p>
        <small>By: <%= post.author_name %></small>
        <p><small>Created on: <%= post.date_created %></small></p>

        <a href="/edit/<%= post.blog_id %>?user_id=<%= loggedInUserId %>">Edit</a> |
        <form action="/delete/<%= post.blog_id %>" method="POST" style="display:inline;">
          <input type="hidden" name="user_id" value="<%= loggedInUserId %>">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>

  <a href="/logout">Logout</a>

</body>

</html>